@media (min-width: 0px) and (max-width: 1246px) {
    .materiais_am01 {
        width: 100%;
        height: 95.4vh;
        margin-top: 10%;
        background: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .materiais_am01 .center_materias {
        width: 90%;
        height: 90%;
        background-color: white;
        border-radius: 15px;
    }
}



@media (min-width: 1246px) and (max-width: 1919px) {
    .materiais_am01 {
        width: 100%;
        height: 91.7vh;
        margin-top: 4%;
        background: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .materiais_am01 .center_materias {
        width: 80%;
        height: 90%;
        background-color: white;
        border-radius: 15px;
    }
}

@media (min-width: 1919px) {
    .materiais_am01 {
        width: 100%;
        height: 91.7vh;
        margin-top: 4%;
        background: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .materiais_am01 .center_materias {
        width: 80%;
        height: 90%;
        background-color: white;
    }
}