@media (min-width: 0px) and (max-width: 1246px) {
    body {
        background: linear-gradient(90deg, rgba(251,207,10,1) 0%, rgb(225, 188, 22)50%, rgba(6, 7, 9, 0.837) 100%);
    }
    .materiais_am01 {
        width: 100%;
        height: 95.4vh;
        margin-top: 10%;
        /* background: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .materiais_am01 .center_materias {
        width: 90%;
        height: 90%;
        background-color: #ffffffbf;
        border-radius: 10px;
    }
    .materiais_am01 .center_materias .add4 {
        width: 100%;
        height: 5%;
        display: flex;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        flex-direction: row;
    }
    .materiais_am01 .center_materias .add4 .components {
        width: 20%;
        height: 100%;
        font-size: 10px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container {
        width: 100%;
        height: 95%;
        overflow-y: auto;
    }
    .materiais_am01 .center_materias .add5-container .add5 {
        width: 100%;
        height: 49px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .materiais_am01 .center_materias .add5-container .add5 .components {
        width: 20%;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container .add5 .componentsimg {
        width: 40%;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container h1 {
        font-size: 10px;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar {
        width: 10px;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: none;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar-track {
        background-color: transparent;
        border: none
    }




    /* OPTINS 1 */
    .backgroundOptions {
        width: 80%;
        height: 50vh;
        position: absolute;
        /* background-color: blue; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .backgroundOptions .GroundOptions {
        background-color: rgba(255, 255, 255, 0.837);
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px -6px 52px 8px rgba(0,0,0,0.73);
    }
    .backgroundOptions .GroundOptions .opts1 {
        width: 100%;
        height: 10%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    .backgroundOptions .GroundOptions .opts1 h1 {
        font-size: 12px;
        width: 70%;
        margin-left: 15px;
    }
    .backgroundOptions .GroundOptions .opts1 i {
        font-size: 20px;
        /* cursor: pointer; */
        width: 25%;
        display: flex;
        justify-content: flex-end;
        margin-right: 28px;
    }
    /* OPTINS 2 */
    .backgroundOptions .GroundOptions .opts2 {
        width: 100%;
        height: 85%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
    }
    .backgroundOptions .GroundOptions .opts2 h1 {
        width: 100%;
        height: 10%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 {
        width: 100%;
        height: 80%;
        /* background: black; */
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform {
        width: 100%;
        height: 27%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .inputdads {
        width: 80%;
        height: 20%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
    }
    .backgroundOptions .GroundOptions form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .backgroundOptions .GroundOptions .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .backgroundOptions .GroundOptions .opts2 #camera {
        /* background-color: blue; */
        width: 80%;
        height: 3%;
        /* display: none; */
        /* margin-top: 14px; */
    }
    .backgroundOptions .GroundOptions .opts2 video {
        /* background-color: blue; */
        width: 100%;
        height: 162%;
        margin-top: -7%;
    }
    .backgroundOptions .GroundOptions .opts2 canvas {
        width: 10%;
        height: 10%;
    }
    .backgroundOptions .GroundOptions .opts2 #resultado {
        margin-top: 10p;
        width: 80%;
        height: 30%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgb(179 178 178); /* Set a semi-transparent white background */
    }
    /* OPTIONS 3 */
    .backgroundOptions .GroundOptions .opts3 {
        width: 100%;
        height: 5%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .backgroundOptions .GroundOptions .opts3 h1 {
        font-size: 6px;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 {
        width: 100%;
        height: 100%;
        /* background: black; */
    }
    
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform {
        width: 100%;
        height: 25%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .inputdads {
        width: 80%;
        height: 30%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .btn-send {
        width: 30%;
        height: 35%;
        border-color: transparent;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
        border-radius: 20px;
        cursor: pointer;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .btn-send:hover {
        background-color: greenyellow;
        width: 32%;
        height: 36%;
    }


    .backgroundOptions .GroundOptions .opts2 .add4 {
        width: 100%;
        height: 13%;
        display: flex;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        flex-direction: row;
    }
    .backgroundOptions .GroundOptions .opts2 .add4 .components {
        width: 20%;
        height: 20%;
        font-size: 10px;
        font-weight: 600;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .backgroundOptions .GroundOptions .opts2 .add5-container {
        width: 100%;
        height: 95%;
        overflow-y: auto;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 {
        width: 100%;
        height: 49px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 .components {
        width: 20%;
        text-align: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 .componentsimg {
        width: 15%;
        text-align: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container h1 {
        font-size: 10px;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar {
        width: 10px;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: none;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar-track {
        background-color: transparent;
        border: none
    }
}



@media (min-width: 1246px) and (max-width: 1919px) {
    body {
        background: linear-gradient(90deg, rgba(251,207,10,1) 0%, rgb(225, 188, 22)50%, rgba(6, 7, 9, 0.837) 100%);
    }
    .materiais_am01 {
        width: 100%;
        height: 91.7vh;
        margin-top: 4%;
        /* background: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .materiais_am01 .center_materias {
        width: 80%;
        height: 90%;
        background-color: #ffffffbf;
        border-radius: 15px;
    }
    .materiais_am01 .center_materias .add4 {
        width: 100%;
        height: 5%;
        display: flex;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        flex-direction: row;
    }
    .materiais_am01 .center_materias .add4 .components {
        width: 20%;
        height: 100%;
        font-size: 10px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container {
        width: 100%;
        height: 95%;
        overflow-y: auto;
    }
    .materiais_am01 .center_materias .add5-container .add5 {
        width: 100%;
        height: 49px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .materiais_am01 .center_materias .add5-container .add5 .components {
        width: 20%;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container .add5 .componentsimg {
        width: 15%;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container h1 {
        font-size: 10px;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar {
        width: 10px;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: none;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar-track {
        background-color: transparent;
        border: none
    }
    

        /* OPTINS 1 */
    .backgroundOptions {
        width: 80%;
        height: 50vh;
        position: absolute;
        /* background-color: blue; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .backgroundOptions .GroundOptions {
        background-color: rgba(255, 255, 255, 0.837);
        width: 30%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px -6px 52px 8px rgba(0,0,0,0.73);
    }
    .backgroundOptions .GroundOptions .opts1 {
        width: 100%;
        height: 10%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    .backgroundOptions .GroundOptions .opts1 h1 {
        font-size: 12px;
        width: 41%;
        margin-left: 15px;
    }
    .backgroundOptions .GroundOptions .opts1 i {
        font-size: 20px;
        /* cursor: pointer; */
        width: 25%;
        display: flex;
        justify-content: flex-end;
        margin-right: 28px;
    }
    /* OPTINS 2 */
    .backgroundOptions .GroundOptions .opts2 {
        width: 100%;
        height: 85%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
    }
    .backgroundOptions .GroundOptions .opts2 h1 {
        width: 100%;
        height: 10%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 {
        width: 100%;
        height: 80%;
        /* background: black; */
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform {
        width: 100%;
        height: 27%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .inputdads {
        width: 80%;
        height: 20%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
    }
    .backgroundOptions .GroundOptions form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .backgroundOptions .GroundOptions .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .backgroundOptions .GroundOptions .opts2 #camera {
        /* background-color: blue; */
        width: 80%;
        height: 3%;
        /* display: none; */
        /* margin-top: 14px; */
    }
    .backgroundOptions .GroundOptions .opts2 video {
        /* background-color: blue; */
        width: 100%;
        height: 162%;
        margin-top: -7%;
    }
    .backgroundOptions .GroundOptions .opts2 canvas {
        width: 10%;
        height: 10%;
    }
    .backgroundOptions .GroundOptions .opts2 #resultado {
        margin-top: 10p;
        width: 80%;
        height: 30%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgb(179 178 178); /* Set a semi-transparent white background */
    }
    /* OPTIONS 3 */
    .backgroundOptions .GroundOptions .opts3 {
        width: 100%;
        height: 5%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .backgroundOptions .GroundOptions .opts3 h1 {
        font-size: 6px;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 {
        width: 100%;
        height: 100%;
        /* background: black; */
    }
    
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform {
        width: 100%;
        height: 25%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .inputdads {
        width: 80%;
        height: 30%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .btn-send {
        width: 30%;
        height: 35%;
        border-color: transparent;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
        border-radius: 20px;
        cursor: pointer;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .btn-send:hover {
        background-color: greenyellow;
        width: 32%;
        height: 36%;
    }

    .backgroundOptions .GroundOptions .opts2 .add4 {
        width: 100%;
        height: 13%;
        display: flex;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        flex-direction: row;
    }
    .backgroundOptions .GroundOptions .opts2 .add4 .components {
        width: 20%;
        height: 20%;
        font-size: 10px;
        font-weight: 600;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .backgroundOptions .GroundOptions .opts2 .add5-container {
        width: 100%;
        height: 95%;
        overflow-y: auto;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 {
        width: 100%;
        height: 49px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 .components {
        width: 20%;
        text-align: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 .componentsimg {
        width: 15%;
        text-align: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container h1 {
        font-size: 10px;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar {
        width: 10px;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: none;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar-track {
        background-color: transparent;
        border: none
    }
}

@media (min-width: 1919px) {
    body {
        background: linear-gradient(90deg, rgba(251,207,10,1) 0%, rgb(225, 188, 22)50%, rgba(6, 7, 9, 0.837) 100%);
    }
    .materiais_am01 {
        width: 100%;
        height: 91.7vh;
        margin-top: 4%;
        /* background: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .materiais_am01 .center_materias {
        width: 80%;
        height: 90%;
        background-color: #ffffffbf;
        border-radius: 15px;
    }
    .materiais_am01 .center_materias .add4 {
        width: 100%;
        height: 5%;
        display: flex;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        flex-direction: row;
    }
    .materiais_am01 .center_materias .add4 .components {
        width: 20%;
        height: 100%;
        font-size: 10px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container {
        width: 100%;
        height: 95%;
        overflow-y: auto;
    }
    .materiais_am01 .center_materias .add5-container .add5 {
        width: 100%;
        height: 49px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .materiais_am01 .center_materias .add5-container .add5 .components {
        width: 20%;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container .add5 .componentsimg {
        width: 12%;
        text-align: center;
    }
    .materiais_am01 .center_materias .add5-container h1 {
        font-size: 10px;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar {
        width: 10px;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: none;
    }
    .materiais_am01 .center_materias .add5-container::-webkit-scrollbar-track {
        background-color: transparent;
        border: none
    }
    
        /* OPTINS 1 */
    .backgroundOptions {
        width: 80%;
        height: 50vh;
        position: absolute;
        /* background-color: blue; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .backgroundOptions .GroundOptions {
        background-color: rgba(255, 255, 255, 0.837);
        width: 30%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px -6px 52px 8px rgba(0,0,0,0.73);
    }
    .backgroundOptions .GroundOptions .opts1 {
        width: 100%;
        height: 10%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    .backgroundOptions .GroundOptions .opts1 h1 {
        font-size: 12px;
        width: 41%;
        margin-left: 15px;
    }
    .backgroundOptions .GroundOptions .opts1 i {
        font-size: 20px;
        /* cursor: pointer; */
        width: 25%;
        display: flex;
        justify-content: flex-end;
        margin-right: 28px;
    }
    /* OPTINS 2 */
    .backgroundOptions .GroundOptions .opts2 {
        width: 100%;
        height: 85%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
    }
    .backgroundOptions .GroundOptions .opts2 h1 {
        width: 100%;
        height: 10%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 {
        width: 100%;
        height: 80%;
        /* background: black; */
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform {
        width: 100%;
        height: 27%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .inputdads {
        width: 80%;
        height: 20%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
    }
    .backgroundOptions .GroundOptions form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .backgroundOptions .GroundOptions .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .backgroundOptions .GroundOptions .opts2 #camera {
        /* background-color: blue; */
        width: 80%;
        height: 3%;
        /* display: none; */
        /* margin-top: 14px; */
    }
    .backgroundOptions .GroundOptions .opts2 video {
        /* background-color: blue; */
        width: 100%;
        height: 162%;
        margin-top: -7%;
    }
    .backgroundOptions .GroundOptions .opts2 canvas {
        width: 10%;
        height: 10%;
    }
    .backgroundOptions .GroundOptions .opts2 #resultado {
        margin-top: 10p;
        width: 80%;
        height: 30%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgb(179 178 178); /* Set a semi-transparent white background */
    }
    /* OPTIONS 3 */
    .backgroundOptions .GroundOptions .opts3 {
        width: 100%;
        height: 5%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .backgroundOptions .GroundOptions .opts3 h1 {
        font-size: 6px;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 {
        width: 100%;
        height: 100%;
        /* background: black; */
    }
    
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform {
        width: 100%;
        height: 26%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .inputdads {
        width: 80%;
        height: 30%;
        border-color: transparent;
        border-radius: 10px;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .btn-send {
        width: 30%;
        height: 35%;
        border-color: transparent;
        background-color: rgba(179, 178, 178, 0.8); /* Set a semi-transparent white background */
        border-radius: 20px;
        cursor: pointer;
    }
    .backgroundOptions .GroundOptions .opts2 .forms1 .dadosform .btn-send:hover {
        background-color: greenyellow;
        width: 32%;
        height: 36%;
    }

    .backgroundOptions .GroundOptions .opts2 .add4 {
        width: 100%;
        height: 13%;
        display: flex;
        border-bottom-color: #dfddde;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        flex-direction: row;
    }
    .backgroundOptions .GroundOptions .opts2 .add4 .components {
        width: 20%;
        height: 20%;
        font-size: 10px;
        font-weight: 600;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .backgroundOptions .GroundOptions .opts2 .add5-container {
        width: 100%;
        height: 95%;
        overflow-y: auto;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 {
        width: 100%;
        height: 49px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 .components {
        width: 20%;
        text-align: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container .add5 .componentsimg {
        width: 15%;
        text-align: center;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container h1 {
        font-size: 10px;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar {
        width: 10px;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: none;
    }
    .backgroundOptions .GroundOptions .opts2 .add5-container::-webkit-scrollbar-track {
        background-color: transparent;
        border: none
    }
}