@font-face {
    font-family: SuzanoText-Bold;
    src: url(../fonts/SuzanoText-Bold.ttf);
}
@font-face {
    font-family: SuzanoText-Regular;
    src: url(../fonts/SuzanoText-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: SuzanoText-Regular;
}

@media (min-width: 0px) and (max-width: 1246px) {
    
}

@media (min-width: 1246px) and (max-width: 1919px) {
    body {
        background: linear-gradient(90deg, rgba(251,207,10,1) 0%, rgb(225, 188, 22)50%, rgba(6, 7, 9, 0.837) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    
    .hub {
        width: 180vh;
        height: 90vh;
        background-color: rgba(255, 255, 255, 0.468);
        border-width: 2px;
        border-color: white;
        border-style: solid;
        border-radius: 5vh;
        display: flex;
        flex-direction: row;
    }
    
    .bar1 {
        width: 20%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.47);
        border-top-left-radius: 5vh;
        border-bottom-left-radius: 5vh;
    }
    
    .bar2 {
        width: 80%;
        height: 100%;
        /* background-color: rgba(255, 0, 0, 0.69); */
        border-top-right-radius: 5vh;
        border-bottom-right-radius: 5vh;
    }    
}

@media (min-width: 1919px) {
    body {
        background: linear-gradient(90deg, rgba(251,207,10,1) 0%, rgb(225, 188, 22)50%, rgba(6, 7, 9, 0.837) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    
    .hub {
        width: 180vh;
        height: 90vh;
        background-color: rgba(255, 255, 255, 0.468);
        border-width: 2px;
        border-color: white;
        border-style: solid;
        border-radius: 5vh;
        display: flex;
        flex-direction: row;
    }
    
    .bar1 {
        width: 20%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.47);
        border-top-left-radius: 5vh;
        border-bottom-left-radius: 5vh;
    }
    
    .bar2 {
        width: 80%;
        height: 100%;
        /* background-color: rgba(255, 0, 0, 0.69); */
        border-top-right-radius: 5vh;
        border-bottom-right-radius: 5vh;
    }
    
}

