@media (min-width: 0px) and (max-width: 1200px) {
    .notification {
        width: 70%;
        height: 8%;
        /* background-color: rgba(255, 255, 255, 0.353); */
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.39)30%, rgba(255, 255, 255, 0.593) 100%);
        position: absolute;
        top: 10%;
        left: 30%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .notification .options1 {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    .aviso {
        font-size: 10px;
        margin-right: 77%;
    }
    .Direitos {
        font-size: 7px;
    }
    .notification .options2 {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
    }
    .Descricao {
        font-size: 12px;
        margin-left: 2%;
        font-weight: 700;
    }
    .logo-notify {
        width: 16px;
    }    
}





@media (min-width: 1200px) and (max-width: 1919px) {
    .notification {
        width: 20%;
        height: 8%;
        /* background-color: rgba(255, 255, 255, 0.353); */
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.39)30%, rgba(255, 255, 255, 0.593) 100%);
        position: absolute;
        top: 10%;
        left: 80%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .notification .options1 {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    .aviso {
        font-size: 10px;
        margin-right: 77%;
    }
    .Direitos {
        font-size: 7px;
    }
    .notification .options2 {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
    }
    .Descricao {
        font-size: 12px;
        margin-left: 2%;
        font-weight: 700;
    }
    .logo-notify {
        width: 16px;
    }
}

@media (min-width: 1919px) {
    .notification {
        width: 70%;
        height: 8%;
        /* background-color: rgba(255, 255, 255, 0.353); */
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.39)30%, rgba(255, 255, 255, 0.593) 100%);
        position: absolute;
        top: 10%;
        left: 30%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .notification .options1 {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    .aviso {
        font-size: 10px;
        margin-right: 77%;
    }
    .Direitos {
        font-size: 7px;
    }
    .notification .options2 {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
    }
    .Descricao {
        font-size: 12px;
        margin-left: 2%;
        font-weight: 700;
    }
    .logo-notify {
        width: 16px;
    }
}
